.structcode{
  width:35em;
  min-height:30em;
  resize:vertical;
  max-width: 90vw;
}
.structcodecmd{
  color:blue;
  font-weight:bold;
}
figure{
  position:relative;
  display: inline-block;
  vertical-align: top;
  margin: 2em .5em 1em .5em;
  padding:.25em;
  padding-bottom: 0;
  border:1px dotted gray;
}
figcaption{
  border: 1px dotted gray;
  width: calc(100% + 2px);
  display: block;
  /* margin-top: .5em; */
  background-color: lightgray;
  padding: .25em;
  font-family: sans-serif;
  position: absolute;
  left: -1px;
  top: -1.5em;
  box-sizing: border-box;
  line-height: 1em;
}
#xmlview{
  white-space:pre-wrap;
  font-family:Consolas;
}
struct-diagram{
  /*--decision-then:'ja';*/
  /*--decision-else:'nein';*/
}
figure[data-parsererror]:after{
  color:red;
  content:attr(data-parsererror);
  display:block;
  position: absolute;
  top:100%;
}
#imageview,#structure{
  display:none;
}
#diagram{
  position:absolute;
  top:0;
  left:0;
  visibility:hidden;
}
nav{display:inline-block;margin-top:1em;}
nav a{text-decoration:none;}
nav ul{position:relative;display:inline-flex;margin: 0;padding-left: 0;padding-right: .5em;border-top: 1px solid black;}
nav ul:before{content:attr(title);position:absolute;top:-1em;left:.5em;background-color:white;padding:0 .1em }
nav li{list-style:none;margin: .25em;}
nav .menuitem{color:green;background-color:lightblue;}
nav .menuitem{cursor:pointer;display:block;padding:.5em;margin:.25em;box-sizing:border-box;white-space:pre;line-height: 1em;}
nav label.menuitem{color:gray;background-color:lightgray;}
input#showHTML:checked~main #diagram{position:relative;visibility:visible;}
input#showSVG:checked~main #imageview{display:inline-block;}
input#showXML:checked~main #structure{display:inline-block;}
input#showHTML:checked~nav label[for="showHTML"],
input#showSVG:checked~nav label[for="showSVG"],
input#showXML:checked~nav label[for="showXML"]
{color:green;background-color:lightblue;}
input#showHTML:focus~nav label[for="showHTML"],
input#showSVG:focus~nav label[for="showSVG"],
input#showXML:focus~nav label[for="showXML"]
{box-sizing:border-box;outline:1px dotted gray;}
body>input{
  position:absolute;
  appearance: none;
}
body>input:focus{outline-style:none;}
body{
  font-family: Segoe UI,sans-serif;
}
header {
  display: inline-block;
  margin: .5em;
  border: 1px solid black;
  padding-left: 1em;
  padding-top: 1em;
}
header h1{
  border-left: 1px solid black;
  padding: 0.1em .25em;
  margin: 0;
  border-top: 1px solid black;
}
figcaption {
  border: 1px dotted gray;
  width: calc(100% + 2px);
  display: block;
  /* margin-top: .5em; */
  background-color: lightgray;
  padding: .25em;
  font-family: sans-serif;
  position: absolute;
  left: -1px;
  top: -1.5em;
  box-sizing: border-box;
  line-height: 1em;
}
@media (max-width: 40em){
  body{
    margin:0px;
  }
  main{
    margin-left: 1vw;
  }
  footer{
    margin:0px;
    padding:2vw;
    border-top:1px solid black;
  }
}
@media (min-width:40em){
  /* based on https://www.unindented.org/blog/github-ribbon-using-css-transforms/ */
  footer {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    height: 149px;
    width: 149px;
    z-index:-1;
  }
  #githublink {
    position: absolute;
    top: calc(-2em - 6px);
    background-color: #EEE;
    transform: rotate(45deg);
    transform-origin: left bottom;
    width: 211px;
    box-shadow: 0 0 5px lightgray;
  }
  #githublink a {
    border: 1px solid #AAA;
    color: #000;
    display: block;
    margin: 1px 0;
    padding: .5em 0;
    text-align: center;
    text-decoration: none;
    font-family: "Segoe UI","Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .8em;
    font-weight: bold;
  }
}