.structcode{
  min-width:40em;
  min-height:30em;
  resize:vertical;
}
struct-diagram{
  --decision-then:'true';
  --decision-else:'false';
}
struct-sequence,struct-block,struct-loop,struct-iteration,struct-call,struct-break{
  display:block;
  box-sizing: border-box;
}
struct-decision>struct-block,struct-choose>struct-block{
  display: table-cell;
}
struct-sequence,struct-decision,struct-choose,struct-loop,struct-iteration,struct-call,struct-break{
  padding:.25em;
  background-color:white;
  border-top:1px solid black;
  border-left:1px solid black;
}
struct-decision,struct-choose{
  display:table;
  width:100%;
  box-sizing: border-box;
  padding:0px;
  padding-top:2em;
  position:relative;
}
struct-decision:after,struct-choose:after{
  display:table-caption;
  content: attr(condition);
  text-align:center;
  position:absolute;
  width:100%;
  top:0;
  left:0;
  text-shadow: 1px 0px white, 0px 1px white, -1px 0px white, 0px -1px white;
  z-index:10;
}
struct-decision>struct-block{
  position: relative;
  vertical-align: top;
}
struct-decision>struct-block:after{
  position: absolute;
  top:-1.25rem;
  font-style: italic;
  font-size: .75em;
  color:gray;
}
struct-decision>struct-block:last-child:after{
  content:var(--decision-else);
  right:.25em;
}
struct-decision>struct-block:first-child:after{
  content:var(--decision-then);
  left: .25em;
}
struct-iteration:before{
  content:attr(condition);
  display:block;
  height:0px;
  position:relative;
  top:-1.5em;
  left:-1em;
}
struct-iteration{
  padding:0px;
  padding-top:2em;
  padding-left:1.5em;
}
struct-loop{
  padding:0px;
  padding-bottom:2em;
  padding-left:1.5em;
}
struct-loop:after{
  display:block;
  content:attr(condition);
  height:0px;
  position:relative;
  bottom:-.5em;
  left:-1em;
}
struct-diagram{
  font-family:sans-serif;
  display: inline-block;
  min-width: 20em;
  line-height: 1.5em;
  padding:.5em;
  background-color: lightblue;
}
struct-diagram>*{
  border-right:1px solid black;
}
struct-diagram>*:last-child{
  border-bottom:1px solid black;
}
struct-block>struct-sequence{
  min-width:2em;
  min-height:2em;
}
struct-decision>struct-block>*{
  border-left:none;
}
struct-decision>struct-block:first-child:before {
  background-image:url(line_tl_br.png);
}
struct-decision>struct-block:last-child:before {
  background-image:url(line_bl_tr.png);
}
struct-decision>struct-block:before {
  content:'';
  position:absolute;
  top:-2em;
  width:100%;
  height:2em;
  box-sizing: border-box;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index:0;
}
struct-block:not(:first-child){
  border-left:1px solid black;
}
struct-decision>struct-block>*:last-child,struct-loop>struct-block>*:last-child{
  border-bottom: 1px solid black;
}
struct-loop>struct-block>*:first-child{
  border-top:none;
}
